.btnStyle {
  background-color: transparent;
  border: none;
  display: flex;
  height: 35px;
  justify-content: center;
  margin-left: 10px;
  margin-top: 10px;
  width: 35px;
}

.imgStyle {
  height: 100%;
}
