body {
  overflow: hidden;
}

.scheduleTableDiv {
  justify-content: center;
  display: flex;
  height: 80vh;
  margin-left:  29vw;
  margin-right:  29vw;
  margin-top: 10vh;
  overflow-y: scroll;
  position: relative;
}

